<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SeNA80.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <SeNA80.Properties.Settings>
      <setting name="Am_1_lbl" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="Am_1_prtcl" serializeAs="String">
        <value>a.apr</value>
      </setting>
      <setting name="Am_2_lbl" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="Am_2_prtcl" serializeAs="String">
        <value>c.apr</value>
      </setting>
      <setting name="Am_3_lbl" serializeAs="String">
        <value>G</value>
      </setting>
      <setting name="Am_3_prtcl" serializeAs="String">
        <value>g.apr</value>
      </setting>
      <setting name="Am_4_lbl" serializeAs="String">
        <value>T</value>
      </setting>
      <setting name="Am_4_prtcl" serializeAs="String">
        <value>t.apr</value>
      </setting>
      <setting name="Am_5_lbl" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Am_5_prtcl" serializeAs="String">
        <value>default.apr</value>
      </setting>
      <setting name="Am_6_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_6_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_7_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_7_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_8_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_8_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_9_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_9_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_10_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_10_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_11_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_11_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_12_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_12_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_13_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_13_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_14_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_14_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_15_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_15_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_16_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_16_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_17_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_17_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_18_lbl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_18_prtcl" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_1_name" serializeAs="String">
        <value>Adenosine</value>
      </setting>
      <setting name="Am_2_name" serializeAs="String">
        <value>Cytosine</value>
      </setting>
      <setting name="Am_3_name" serializeAs="String">
        <value>Guanine</value>
      </setting>
      <setting name="Am_4_name" serializeAs="String">
        <value>Thymidine</value>
      </setting>
      <setting name="Am_5_name" serializeAs="String">
        <value>Other</value>
      </setting>
      <setting name="Am_6_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_7_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_8_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_9_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_10_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_11_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_12_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_13_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_14_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_15_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Am_16_name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Loggin_YN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Max_Lines" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="UV_Trityl_Inst" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond_Trityl_Inst" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pres_Mon_Inst" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Max_TritylPts" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="Report_Trity" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UV1On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UV2On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UV3On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UV4On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UV5On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UV6On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UV7On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UV8On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pres1On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pres2On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pres3On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond1On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond2On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond3On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond4On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond5On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond6On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond7On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cond8On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bView_Trityl_Labels" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Threshold" serializeAs="String">
        <value>0.22</value>
      </setting>
      <setting name="UV_Report" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Program_Path" serializeAs="String">
        <value>c:\SeNA\</value>
      </setting>
      <setting name="Protocol_Path" serializeAs="String">
        <value>c:\SeNA\protocol\</value>
      </setting>
      <setting name="Sequence_Path" serializeAs="String">
        <value>C:\SeNA\sequence\</value>
      </setting>
      <setting name="Log_Path" serializeAs="String">
        <value>C:\SeNA\log\</value>
      </setting>
      <setting name="Config_Path" serializeAs="String">
        <value>C:\SeNA\config\</value>
      </setting>
      <setting name="Log_Interval" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="CSV_Path" serializeAs="String">
        <value>c:\SeNA\Trityl\</value>
      </setting>
      <setting name="Cur_Log_File" serializeAs="String">
        <value>L_01082017.log</value>
      </setting>
      <setting name="UV_Bar_File" serializeAs="String">
        <value>UV_BAR_08071935.CSV</value>
      </setting>
      <setting name="UniversalSupport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Pol_Freq" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Rpt_AreaHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Am_Pres_Alarm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reg_Pres_Alarm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Trityl_Alarm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Trityl_Amount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Reg_Pres_Amt" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Am_Pres_Amt" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DeadVol" serializeAs="String">
        <value>112</value>
      </setting>
      <setting name="View_VlvStat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AmiditeFC" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ReagentFC" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AmiditePCalib" serializeAs="String">
        <value>10.1</value>
      </setting>
      <setting name="ReagentPCalib" serializeAs="String">
        <value>12.1</value>
      </setting>
      <setting name="QuickLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginUser" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="def_Prep_Protocol" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="def_Run_Protocol" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="def_Post_Protocol" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="def_Trityl_Label" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Autoscale_Amidites" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SF_30" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SF_02" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="SF_05" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="SF_10" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SF_20" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SF_50" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Ltr_12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SF_40" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="def_Startup_Protocol" serializeAs="String">
        <value/>
      </setting>
      <setting name="Tips_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AmPumpDwell" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReagPumpDwell" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Scale_Long" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Double_First" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveStrip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveHist" serializeAs="String">
        <value>False</value>
      </setting>
    </SeNA80.Properties.Settings>
  </userSettings>
</configuration>
